version: '2.3'  # Compatible with Ubuntu 18.04

services:
  ros1_bridge:
    build: 
      context: ./ros1_bridge
    container_name: bridge_ros1
    network_mode: "host"
    restart: always
    environment:
      - ROS_MASTER_URI=http://localhost:11311
      - ROS_IP=127.0.0.1
    # On 18.04/Melodic, we typically don't mount the script for Py2/3 compatibility reasons,
    # but if you do, make sure the local file is Py2 compatible.

  ros2_bridge:
    build: 
      context: ./ros2_bridge
    container_name: bridge_ros2
    network_mode: "host"
    restart: always
    volumes:
      - /etc/hostname:/etc/hostname:ro
    environment:
      - ROS_DOMAIN_ID=0
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      # Ensure this matches your WiFi interface (run 'ifconfig' to check)
      - CYCLONEDDS_URI=<CycloneDDS><Domain><General><NetworkInterfaceAddress>wlan0</NetworkInterfaceAddress></General></Domain></CycloneDDS>
